body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000; /* Black background */
  color: #fff; /* Light text for dark theme */
  background-size: cover;
  background-position: center;
}

.container {
  filter: opacity(0.9);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #0c0c0c; /* Darker background for container */
}

#cityInput {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  animation: fadeIn 0.5s ease-in-out; /* Add fade-in animation */
}

#searchBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  animation: slideIn 0.5s ease-in-out forwards; /* Add slide-in animation */
}

#searchBtn:hover {
  background-color: #0056b3;
}

#weatherInfo {
  margin-top: 20px;
  animation: slideIn 0.5s ease-in-out forwards; /* Add slide-in animation */
}

/* Add animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

